body
{	
	background:#fdfce4;
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	font-family: Arial;
}
#header{
	color:#45696D;
}

#myNavbar
{
	color:#a8f3e2;
	font-size:18px;
	text-align:center;
}


#cards{
	color:#45696D;	
	 list-style-type: none;
	 display:inline;
	
}
#first{
	border-radius:0px 50px 0px 0px;
	background-color:#f4d8f4;
	color:#2a3f42;
	 
}
#second{
	border-radius:0px 50px 0px 0px;
	background-color:#fcf9c4;
	color:#2a3f42;
 
}
#third{
	border-radius:0px 50px 0px 0px;
	background-color:#dec6f4;
	color:#2a3f42;
	 
}
#fourth{
	border-radius:0px 50px 0px 0px;
	background-color:#40e5c1;
	color:#2a3f42;
	 
}
#fifth{
	border-radius:0px 50px 0px 0px;
	background-color:#97e5ef;
	color:#2a3f42;
 
}
#sixth{
	border-radius:0px 50px 0px 0px;
	background-color:#f4d8f4;
	color:#2a3f42;	
	 
}
#seventh{
	border-radius:0px 50px 0px 0px;
	background-color:#fcf9c4;
	color:#2a3f42;
	 
}
#eighth{
	border-radius:0px 50px 0px 0px;
	background-color:#dec6f4;
	color:#2a3f42;
	 
}
#ninth{
	border-radius:0px 50px 0px 0px;
	background-color:#40e5c1;
	color:#2a3f42;
	 
}
#tenth{
	border-radius:0px 50px 0px 0px;
	background-color:#97e5ef;
	color:#2a3f42;	
	 	
}
#eleventh{
	border-radius:0px 50px 0px 0px;
	background-color:#fcf9c4;
	color:#2a3f42;
	 	
}
#twelvth{
	border-radius:0px 50px 0px 0px;
	background-color:#dec6f4;
	color:#2a3f42;
	 	
}
#thirteenth{
	border-radius:0px 50px 0px 0px;
	background-color:#f4d8f4;
	color:#2a3f42;
	 
}
#fourteenth{
	border-radius:0px 50px 0px 0px;
	background-color:#40e5c1;
	color:#2a3f42;
	 
}
#fifteenth{
	border-radius:0px 50px 0px 0px;
	background-color:#97e5ef;
	color:#2a3f42;
	 
}
#content-tools
{
	text-align: right;
	padding-right: 10px;
}

#content-tools > a
{
	text-decoration: none;
	text-weight: bold;
}
#videos{
	color:#45696D;
	background-color:#efc2cd;
}
.info{
	font-size: 12px;
	font-family: Arial;	
	
}
#misc{
	font-size: 12px;
	font-family: Arial;
}
.button{
	background-color:#514859; 
    border: none;
    color:white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.dragger{
	background-color:#40e5c1;
}
.draggerbay{
	background-color:#f4d8f4;
}
.hotspot{
	Background-color:#efc2cd;
}
p{
	font-size: 15px;
}
.flip-box {
  background-color: transparent;
  width: 300px;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.flip-box-front {
  background-color:#fcf9c4;
  color: black;
}
.flip-box-back {
  background-color: #97e5ef;
  color: white;
  transform: rotateY(180deg);
}